/target/classes/com/practice/tests/App.class
/target/test-classes/com/practice/tests/AppTest.class
/target/surefire-reports/com.practice.tests.AppTest.txt
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/mySelenideTests.iml
/mySelenideTests.ipr
/mySelenideTests.iws
/pom.xml
/target/surefire-reports/TEST-com.practice.tests.AppTest.xml
/.classpath
/.project
/build/reports/tests/1575538361816.0.html
/build/reports/tests/1575538361816.0.png
/build/reports/tests/1575538382218.1.html
/build/reports/tests/1575538382218.1.png
/build/reports/tests/1575538704751.0.html
/build/reports/tests/1575538704751.0.png
/build/reports/tests/1575538725904.1.html
/build/reports/tests/1575538725904.1.png
/build/reports/tests/1575639513241.0.html
/build/reports/tests/1575639513241.0.png
/build/reports/tests/1575641021827.0.html
/build/reports/tests/1575641021827.0.png
/target/test-classes/com/selenidTestsForWeb/HomePage.class
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.apt.core.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
